<!doctype html>
<html lang='{{ CURRENT_LOCALE }}' class="js svg background-fixed">
    <head>
        {% include dynamo file="_includes/head.html" mode="inclusive" indent_level=2 %}
    </head>
    <body class='{% include dynamo function="render_body_class" %} has-header-image colors-light'>
        <div id="page" class="site">
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
            {% include dynamo file="_includes/header.html" use_web_component=THEME_USE_WEB_COMPONENT indent_level=3 %}
            {% if page.featured_image %}
            <div class="single-featured-image-header">
                <img src="{{ page.featured_image }}" class="attachment-twentyseventeen-featured-image size-twentyseventeen-featured-image wp-post-image" alt="{{ page.title }}">
            </div>
            {% endif %}
            <div class="site-content-contain">
                <div id="content" class="site-content">
                    <div class="wrap">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main" role="main">
                                <section class="error-404 not-found">
                                    <header class="page-header">
                                        <h1 class="page-title">Oops! That page can&rsquo;t be found.</h1>
                                    </header><!-- .page-header -->
                                    <div class="page-content">
                                        <p>It looks like nothing was found at this location. Maybe try a search?</p>
                                        {% include dynamo function="render_search_form" indent_level=10 %}
                                    </div><!-- .page-content -->
                                </section><!-- .error-404 -->
                            </main><!-- #main -->
                        </div><!-- #primary -->
                        {% if page.has_sidebar == true -%}
                            {% include dynamo file="_includes/sidebar.html" use_web_component=THEME_USE_WEB_COMPONENT indent_level=6 %}
                        {%- endif %}
                    </div><!-- .wrap -->
                </div><!-- #content -->
                {% include dynamo file="_includes/footer.html" use_web_component=THEME_USE_WEB_COMPONENT indent_level=4 %}
            </div><!-- .site-content-contain -->
        </div><!-- #page -->
        {% include dynamo file="_includes/foot.html" mode="inclusive" indent_level=2 %}
    </body>
</html>