<!doctype html>
<html lang='{{ CURRENT_LOCALE }}'>
    <head>
        {% include dynamo file="_includes/head.html" mode="inclusive" indent_level=2 %}
    </head>
    <body>
        <div class="wrapper">
            {% include dynamo file="_includes/header.html" indent_level=3 %}
            <section>
            </section>
            {% include dynamo file="_includes/footer.html" indent_level=3 %}
        </div>
        {% include dynamo file="_includes/foot.html" mode="inclusive" indent_level=2 %}
    </body>
</html>